version: "3.9"

services:
  postgres:
    build: .
    container_name: ordem_escola_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ordem_escola_pgdata:/var/lib/postgresql/data

volumes:
  ordem_escola_pgdata:
