@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.card {
  @include card;
  overflow: hidden;

  &.card-elevated {
    @include shadow('lg');
  }
}

.card-header {
  margin-bottom: $spacing-md;
  padding-bottom: $spacing-md;
  border-bottom: 1px solid $color-gray-300;
}

.card-title {
  @include heading-5;
  margin: 0;
  color: $color-gray-900;
}

.card-subtitle {
  @include body-small;
  color: $color-gray-600;
  margin-top: $spacing-xs;
}

.card-body {
  padding: 0;
}

.card-footer {
  margin-top: $spacing-md;
  padding-top: $spacing-md;
  border-top: 1px solid $color-gray-300;
  display: flex;
  gap: $spacing-md;
  justify-content: flex-end;
}
