<button
  [class.btn]="true"
  [class.btn-primary]="variant === 'primary'"
  [class.btn-secondary]="variant === 'secondary'"
  [class.btn-danger]="variant === 'danger'"
  [class.btn-sm]="size === 'sm'"
  [class.btn-md]="size === 'md'"
  [class.btn-lg]="size === 'lg'"
  [class.btn-full]="fullWidth"
  [class.btn-loading]="loading"
  [disabled]="disabled || loading"
  [type]="type"
  (click)="onClick()"
>
  <span *ngIf="!loading" class="btn-content">
    <ng-content></ng-content>
  </span>
  <span *ngIf="loading" class="btn-spinner">
    <span class="spinner"></span>
    Loading...
  </span>
</button>
