<aside class="sidenav" *ngIf="auth.isAuthenticated()">
  <div class="sidenav-header">
    <span class="sidenav-logo">📚 Ordem-Escola</span>
  </div>
  <nav class="sidenav__nav">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menus"
        [routerLink]="item.path"
        routerLinkActive="active"
        [disabled]="!isItemAllowed(item.roles)"
        class="sidenav__item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </nav>
</aside>
