@use '../../../../styles/variables' as *;

.sidenav {
  width: 280px;
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  z-index: 99;
  border-right: 1px solid $color-gray-200;
  overflow-y: auto;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $color-white;
  padding: $spacing-sm 0;

  &.collapsed {
    width: 64px;

    .sidenav__item mat-icon {
      margin: 0 !important;
    }

    .sidenav__item span {
      display: none;
    }
  }
}

.sidenav__nav {
  margin: 0;
  padding: 0;
}

::ng-deep {
  .sidenav {
    .mat-mdc-list-item {
      cursor: pointer;
      transition: background-color 200ms ease;

      &:not([disabled]) {
        &:hover {
          background-color: rgba($color-primary, 0.08);
        }

        &.mat-list-item-active {
          background-color: rgba($color-primary, 0.12);
          color: $color-primary;

          .mat-icon {
            color: $color-primary;
          }
        }
      }

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .mat-icon {
      color: $color-gray-700;
      transition: color 200ms ease;
    }
  }

  .sidenav.collapsed {
    .mat-mdc-list-item {
      padding: 0 12px;
      justify-content: center;
    }
  }
}

@media (max-width: 960px) {
  .sidenav {
    width: 250px;

    &.collapsed {
      width: 64px;
    }
  }
}

@media (max-width: 600px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    border-right: none;
    border-top: 1px solid $color-gray-200;
    max-height: 300px;

    &.collapsed {
      width: 100%;
    }
  }

  ::ng-deep {
    .sidenav .mat-mdc-list-item span {
      display: inline;
    }
  }
}
